* {
  box-sizing: border-box;
  font-family: futura-pt, sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
footer a {
  color: #000;
}
a:hover {
  text-decoration: underline;
}

:root {
  --max-width: 1463px;
}
body {
  background-color: rgb(241, 241, 241);
}
#centerContainer {
  position: relative;
  max-width: var(--max-width);
  margin: 0px auto;
  background-color: white;
  z-index: 1;
}

nav {
  display: flex;
  padding: 20px 25px;
}
.logo {
  width: 61px;
  margin-right: 20px;
  margin-left: 15px;
}
.nav-flex {
  flex: 1;
  display: flex;
  align-items: center;
}
.nav-link {
  padding: 0rem 20px;
  color: black;

  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
}
.nav-more {
  flex: 1;
  color: #ff764d;
}
.nav-live {
  color: blue;
  font-size: 1.1rem;
}
.nav-login {
  font-size: 0.9rem;
  padding-left: 0px;
  padding-top: 2px;
}
.nav-menu {
  display: none;
}
.nav-dropdown {
  display: none;
}
.nav-small {
  font-size: 0.9rem;
  font-weight: 400;
}
.nav-dropdown-snd {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#selected {
  color: #ff764d;
}
.nav-scrollable {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
}
.nav-item-scroll-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: normal;
  max-width: 13em;
  min-width: 12em;
}
.nav-item-scroll-group h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}
.nav-item-scroll-group p {
  font-size: 0.8rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5em;
}
@media screen and (max-width: 1100px) {
  .nav-flex a:not(:last-child) {
    display: none;
  }
  .nav-menu {
    display: block;
  }
  .nav-menu::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000;

    margin-left: 10px;
  }

  nav {
    position: relative;
  }
  .nav-show {
    display: block;
  }
  .nav-dropdown-flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: blue;
    padding-top: 4rem;
    padding-left: 1.2rem;
    z-index: 2;
  }
  .nav-dropdown-flex a {
    color: white;
  }
  .logo-white {
    filter: invert(100%);
    z-index: 10;
  }
  .nav-menu-open {
    color: white;
    z-index: 10;
  }
}


.nav2 {
  display: flex;
  justify-content: flex-start;

  border-top: 2px solid #eff4f4;
  padding: 1.6rem 2.45rem;
}
.nav2-link {
  font-size: 1rem;
  padding-right: 2.5rem;
  color: black;
}
.nav2-link-selected {
  color: #ff764d;
}

.ableton-header {
  position: relative;
}
.header-img {
  object-fit: cover;
  height: calc(100vh - 1.6rem - 100px);
  width: calc(min(85vw, var(--max-width) * 0.85));

  display: block;
  margin: auto;
}
.header-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fe642e;
  font-size: 8rem;

  font-style: normal;
  font-weight: 500;
}

.text-section {
  margin: 7rem 20rem;
}
.text-section h3 {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.text-section p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.text-section b {
  font-weight: 500;
  color: blue;
}
@media (max-width: 1332px) {
  .text-section {
    margin: 7rem 12rem;
  }
}
@media (max-width: 1171px) {
  .text-section {
    margin: 7rem 9rem;
  }
  .text-section h3 {
    font-size: 1.25rem;
  }
  .text-section p {
    font-size: 1rem;
  }
}
@media (max-width: 714px) {
  .text-section {
    margin: 7rem calc(100vw * 0.08);
  }
}

.yellow-section {
  height: calc(min(100vw, var(--max-width)) * 0.6);
  width: calc(min(100vw, var(--max-width)) - 15px);
}
.yellow-section::before {
  position: absolute;
  right: 0px;
  z-index: -10;

  background-color: #fbff8d;
  height: calc(min(100vw, var(--max-width)) * 0.6);
  width: calc(min(100vw, var(--max-width)) * 0.6);
  content: "";
  display: inline-block;
}
.yellow-flex {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 3fr 1fr 1fr;

  height: inherit;
  width: calc(min(100vw, var(--max-width)) - 15px);
  z-index: 10;
}
.photo1 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
  min-width: none;

  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo2 {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 4;
  min-width: none;

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.yt-container {
  margin: 0 calc(min(100vw, var(--max-width)) * 0.2);
}
.yt-img {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

.green-section {
  position: relative;
  height: calc(min(100vw, var(--max-width)) * 0.75);
  width: calc(min(100vw, var(--max-width)) - 15px);
}
.green-section::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: inherit;
  width: calc(min(100vw, var(--max-width)) * 0.58);
  z-index: -10;
  background-color: rgb(175, 255, 200);
}
.green-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 2fr 1fr 2fr 1fr 1fr;

  width: calc(min(100vw, var(--max-width)) - 15px);
  height: inherit;
  z-index: 10;
}
.photo3 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;

  height: 100%;
  width: 100%;
  object-fit: cover;
}
.photo4 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;

  height: 100%;
  width: 100%;
  object-fit: cover;
}
.photo5 {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 6;

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-tech {
  display: block;
  width: calc(min(80vw, var(--max-width) * 0.8));
  margin: auto;
}

.purple-section {
  height: calc(min(100vw, var(--max-width)) * 0.6);
  width: calc(min(100vw, var(--max-width)) - 15px);
}
.purple-section::before {
  content: "";
  display: inline-block;
  height: calc(min(100vw, var(--max-width)) * 0.6);
  width: calc(min(100vw, var(--max-width)) * 0.7);
  background-color: rgb(207, 170, 255);

  position: absolute;
  left: 15%;
  z-index: -10;
}
.purple-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);

  height: inherit;
  width: calc(min(100vw, var(--max-width)) - 15px);
  z-index: 10;
}
.photo6 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 6;

  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo7 {
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 7;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jobs-flex {
  display: flex;
  padding-left: 8%;
  padding-right: 8%;

  height: calc(min(100vw, var(--max-width)) * 0.4);
  width: calc(min(100vw, var(--max-width)) - 15px);

  padding-bottom: 7rem;
  border-bottom: 2px solid #eff4f4;
}
.job-group {
  background-color: rgb(168, 189, 255);
  /* width: calc(min(100vw, var(--max-width)) * 0.8); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}
.job-group h3 {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.4;
}
.blue {
  margin-top: 1.7rem;
  color: blue;
}
.photo8 {
  max-height: calc(min(100vw, var(--max-width)) * 0.4);
  max-width: 50%;
  object-fit: cover;
}
@media (max-width: 1285px) {
  .jobs-flex {
    flex-direction: column;
    height: auto;
  }
  .photo8 {
    max-width: 100%;
  }
  .job-group {
    padding-top: calc(100vw * 0.07);
    padding-bottom: calc(100vw * 0.07);
  }
}
@media (max-width: 1199px) {
  .job-group h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1121px) {
  .job-group h3 {
    font-size: 1.2rem;
  }
}

footer {
  padding: 7rem;
}
footer li {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
footer p {
  font-size: 1rem;
}
.ft-logo {
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
}
.ft-first {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.25rem 0rem;
}
.ft-main-item {
  padding: 1.25rem 0;
  min-width: 12.5rem;
  width: 310px;
}
.ft-title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
.ft-custom {
  max-width: 24rem;
}
.ft-custom p {
  margin-bottom: 1rem;
}

.ft-second {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.25rem 0rem;
}
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  font-size: 1.1rem;
  background-color: #eff4f4;
}
input[type="submit"] {
  background-color: blue;
  color: white;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  font-size: 1.1rem;
}
select {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  width: 150px;
  padding: 0.4rem;
  background-color: #eff4f4;
  cursor: pointer;
}
.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #000;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);

  justify-self: end;
}
select,
.select::after {
  grid-area: select;
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid blue;
}

.dropdown-flex {
  display: flex;
  gap: 3px;

  margin-top: 8px;
}
#dropdown1 {
  flex: 1;
}
#dropdown2 {
  flex: 2;
}

.ft-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  margin-top: 2rem;
}
.ft-flex li {
  position: relative;
  font-size: 0.875rem;
}
#ft-berlin {
  top: 0px;
}
#ft-grow {
  flex-grow: 1;
}
.ft-logo {
  width: 3rem;
}
.ft2-logo {
  width: 3rem;
}
.ft2-logo-wide {
  display: none;
}
@media (max-width: 1023px) {
  .ft-flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }
  #ft-grow {
    flex-grow: unset;
    padding-bottom: 5em;
  }
  .ft2-logo {
    display: none;
  }
  .ft2-logo-wide {
    width: 3rem;
    display: block;
    margin-left: 0.15em;
    margin-right: 0.8em;
  }
  #ft-side-float {
    display: flex;
    gap: 0.5em;
  }
}
